META_ACCESS_TOKEN=
META_ACCESS_TOKEN_2=
PURCHASE_SEND_KEY=ganamos2026
META_TEST_EVENT_CODE=
PIXEL_ID=1767312904299608
PIXEL_ID_2=1075060428238436
LANDING_URL=https://ericaroldan966-cmyk.github.io/landingappganamos/

KOVA_PIXEL_ID=1612969067103162
KOVA_PIXEL_ID_2=936629336158894
KOVA_META_ACCESS_TOKEN=
KOVA_META_ACCESS_TOKEN_2=
KOVA_LANDING_URL=https://landing-kovaagency.vercel.app

FANTASTICO_PIXEL_ID=
FANTASTICO_PIXEL_ID_2=
FANTASTICO_META_ACCESS_TOKEN=
FANTASTICO_META_ACCESS_TOKEN_2=
FANTASTICO_LANDING_URL=
